* {

    padding: 0;
    margin: 0;
}

body {

    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
}

.logo   {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
    height: 130px;
    margin-bottom: 30px;
    margin-top: 20px;
    
    
}
  

.flex-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.flex-item {

    color: white;
    margin-bottom: 40px;
    font-size: 16px;
    
}

.item-1 h2 {

padding-left: 50px;
font-size: 24.5px;
}

.itm {

    padding-left: 235px;
}
.item-2 {

    color: orange;
    font-weight: bold;
    font-size: 17px;

}
.item-2 h4 {
    padding-left: 75px;

}

.itm2 {

    padding-left: 122px;
}

.item-4 h3 {

    padding-left: 128px;
}

.flex-container-img {

    display: flex;
    flex-direction: row;
    margin-top: 15px;
    flex-wrap: nowrap;

    
}

.flex-container-img img {

    flex: 1;
    width: 100px;
    
    
}

.flex-container-links-icons-footer {

    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-between;
    
}

.fc-links-footer {

    font-size: 15.6px;
    margin-left: 40px;
    
    
    
}

.fc-links-footer a {

    color: gray;
    text-decoration: none;
    padding-left: 20px;
    font-weight: bold;
    
}

.fc-links-footer a:hover {

    color: rgb(221, 192, 27);
    
}
.fc-icons-footer {

    margin-right: 50px;
    margin-top: -18px;
    opacity: 0.3;
}

.fc-icons-footer img { 

    height: 30px;
    padding-right: 25px;
    opacity: 1;
}   


.fc-icons-footer img:hover {

    background-color: yellow;
    overflow: hidden;
    border-radius: 30%;
    
}


.p-footer {

    color: gray;
    font-size: 11.8px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 80px;
}

@media (max-width: 740px) {

  .logo {

    width: 400px;
    height: 150px;
  }

  .flex-item  {

    font-size: 13px;
  }
   .flex-item h2 {

    font-size: 18px;
   }
    .flex-container-img {
        display: flex;
        flex-flow: wrap;
        
        
        
    }

    .flex-container-img img {

        width: 150px;
        height: 250px;
    
        
        
    }

 .flex-container-links-icons-footer {
    flex-direction: column;
    

    
 }
 .fc-links-footer {

    font-size: 12px;
    margin-left: 8px;
 }

 .fc-icons-footer {

    margin-top: 20px;
    margin-left: 25px;
    
    
 }
 
 .p-footer {

    margin-left: 30px;
    margin-top: 23px;
 }
 
}


@media  (min-width: 741px) and (max-width: 1120px){

    .flex-container-links-icons-footer {
        width: 970px;
        flex-direction: row;
        
        
        
        
    }

    

    .fc-icons-footer {
        flex-wrap: wrap;
        margin-left: 70px;
    }

    .fc-icons-footer {
        flex-wrap: wrap;
        width: 800px;
        
        
        
        
        
    }

    .fc-icons-footer img {
        height: 30px;
        
        
    }
}